/* the middle button with correct answer */
.mathpath-middle, 
.mathpath-middle:focus,
.mathpath-middle:active {
	background-color: rgb(144, 180, 180);
	font-size: 130%;
	

}

/* the presented option buttons */
.mathpath-option,
.mathpath-option:focus,
.mathpath-option:active {
	background-color: rgb(135, 208, 152);
	font-size: 130%;

}


/* Base element. */
.v-progressindicator-indicator {
	background: rgb(135, 208, 152);
	height: 20px;
}
 
/* Progress indication element on top of the base. */
.v-progressindicator-wrapper div,
.v-progressindicator-wrapper {
	height: 18px;
}



.path-layout {
	background-color: rgb(240, 250, 250);
	border: 1px solid rgb(220,220,220);
}