/* the middle button with correct answer */
.mathpath-middle, 
.mathpath-middle:focus,
.mathpath-middle:active {
	background-color: rgb(161, 255, 161);
	font-size: 130%;
	

}

/* the presented option buttons */
.mathpath-option,
.mathpath-option:focus,
.mathpath-option:active {
	background-color: rgb(161, 161, 255);
	font-size: 130%;

}

/* Base element. */
.v-progressindicator-indicator {
	background-color: rgb(200, 255, 100);
}
 
/* Progress indication element on top of the base. */
.v-progressindicator-wrapper div {}


.path-layout {
	background-color: rgb(240,250,255);
	border: 1px solid rgb(220,220,220);
}